<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">
	<extensions>
		<add assembly="NLog.Database"/>
	</extensions>
	<targets>
		<target name="LogDatabase" xsi:type="Database" dbProvider="Npgsql.NpgsqlConnection, Npgsql">
			<connectionString>${gdc:item=NLogDb}</connectionString>
			<commandText>
				insert into Log (Logged,   Level,  Message,   Logger,   Exception,  UserName) values (
				CAST(@Logged AS timestamp),   @Level, @Message,  @Logger,  @Exception, @UserName);
			</commandText>
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
			<parameter name="@UserName" layout="${event-properties:username}" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Warn" writeTo="LogDatabase" final="false"/>
		<logger name="*" minlevel="Info" writeTo="LogDatabase" final="true"/>
		<logger name="*" minlevel="Debug" writeTo="LogDatabase" final="false"/>
		<logger name="*" minlevel="Error" writeTo="LogDatabase" final="true"/>
		<logger name="*" minlevel="Trace" writeTo="LogDatabase" final="false"/>
	</rules>
</nlog>

